<div class="post-date text-bold text-upcase">
	<!-- {% if page.author %} -->
	<!--   <span class="text-bold">{{ page.author }}</span> / --> 
	<!-- {% endif %} -->
	{% if page.categories %}
		<div class="tags">
			<span>Tags:</span>
				{% for category in page.categories %}
					<a href="{{ site.baseurl }}/categories/#{{ category | downcase | slugify }}">{{ category }}</a>{% if forloop.last == false %},{% endif %}
				{% endfor %}
		</div>
	{% endif %}

	{% if page.date %}
	<div>{{ page.date | date: "%Y-%m-%d %H:%M"}}</div>
	{% endif %}
</div>
