.dual-info {
	// background: #000;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 2em 0;

	.info-card {
		min-width: 22em;
		max-width: 27em;
		flex-basis: 0;
		flex-grow: 1;
		margin: 1em 1em;

		display: flex;
		justify-content: center;
		align-items: center;

		.text-container {
			h2 {
				margin-top: 0.2em;
			}
		}

		.right {
			text-align: left;
		}
		.left {
			text-align: right;
			direction: rtl;
		}

		img {
			width: 85%;
			border-radius: 1em;
			box-shadow: 0 0 1.5em 0.2em black;
		}
	}
}

.section__subtitle {
  margin: 1.414em 0 0.5em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-size: 1.4em;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid $border-color;

  .page__content & {
    color: #fff;
  }
}

.audio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;

  span {
    margin: auto;
    flex-basis: 36%;
    text-align: center;
    white-space: nowrap;
  }

  audio {
    margin: 5px;
    min-width: 300px;
  }

  audio.sixty {
    flex-basis: 60%;
  }

  audio.half {
    flex-basis: 45%;
  }

  audio.long {
    width: 100%;
  }
}
