
html { height: 100%; }

body {
	font-family: sans-serif;
	font-size: 1.0rem;
	line-height: 2;
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

pre, code {
	font-family: monospace;
	font-size: 0.9rem;
}

////////////////////////////////////////////////////////////////////////
//                              content                               //
////////////////////////////////////////////////////////////////////////

// Header, feature and footer
.header,
.interer,
.footer {
	background: var(--bg-secondary);
	width: 100%;
	.nav {
		text-align: right;
	}
	.logo {
	}
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 1rem 0;
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		flex-wrap: wrap;

		* {
			padding: 0;
			margin: 0;
		}
		p {
			color: var(--headings);
			font-weight: bold;
		}
		.nav-list {
			padding: 0;
			overflow: hidden;
			li {
				padding: 0 .25em;
				display: inline-block;
				line-height: 1;
			}
			a {
				background: #3e7b9d;
				color: white;
				padding: 0.5rem 1rem;
				border-radius: 1rem;
				text-decoration: none;
			}
			a:hover {
				background: #4e8bad;
			}
		}
	}
}

.header .nav {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	justify-content: flex-end;
	overflow: hidden;
}

.interer {
	.feature {
		padding-top: .4rem;
		margin-top: 1.6rem;
	}
}

.feature {
	padding-bottom: .4rem;
	margin-bottom: 1.6rem;
	text-align: center;
	background: var(--bg);
	background-size: cover;
	background-position: center;
	.container {
		min-height: 35vh;
		max-width: 60%;
		flex-direction: column;
		justify-content: center;
		h1, h2, h3, h4, h5, h6, p {
			text-align: center;
			color: white;
			text-shadow: 0 0 1em black, 0 0 1em black;
		}
	}
}

.feature.parallax {
	background-attachment: fixed;
}

.feature.slim {
	.container {
		min-height: 12vh;
	}
}

.logo {
	display: flex;
	align-items: center;
	line-height: 0;
	max-height: 4rem;
	img {
		max-height: 5rem;
	}
}

////////////////////////////////////////////////////////////////////////
//                              content                               //
////////////////////////////////////////////////////////////////////////

h2, h3, h4, h5 { margin-top: 1.5em; }

hr { margin: 1em 0; }

hr.page-break {
	text-align: center;
	border: 0;

	&:before { content: '-----' }
	&:after { content: attr(data-content) '-----' }
}

p {
	margin: 1em 0;
	text-align: justify;
}

li { margin: 0.4em 0; }

.w {
	max-width: 720px;
	margin: 0 auto;
	padding: 1em 2em;
	flex-grow: 1;
}

table, th, td {
	width: 100%;
	border: thin solid black;
	border-collapse: collapse;
	padding: 0.4em;
}

div.highlighter-rouge pre code, pre code.highlighter-rouge {
	display: block;
	overflow-x: auto;
	padding: 1em;
}

blockquote {
	font-style: italic;
	border: thin solid black;
	padding: 1em;

	p { margin: 0; }
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
html {
	--bg: #f1f9fb;
	--bg-secondary: #b2c8ce;
	--headings: #000;
	--text: #333;
	--links: blue;
	--highlight: #FFECB2; // light yellow
	--code-text: #9D174D;
	--share-text: #999;
}
// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
	html, body  {
		--headings: #74c0fc;
		--links: #91A7FF;
		--highlight: #41C7C7;
		--bg: #1f242A;
		--bg-secondary: #323945;
		--text: #e5e8ea;
		--code-text: #91A7FF;
		--share-text: #C4C4C4;
	};
}
html[data-theme="dark"] { @include dark-appearance; }

@media (prefers-color-scheme: dark) {
	body[data-theme="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

html, body {
	background-color: var(--bg);
	color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
	color: var(--headings);
}
p, strong, b, em, small, li, hr, table, figcaption {
	color: var(--text);
}
.highlight, pre code, blockquote {
	border-radius: 0.5em;
}
blockquote {
	background-color: var(--bg-secondary);
	border: 1px var(--border) solid;
}
a {
	color: var(--links);
}
*:target { background-color: var(--bg-secondary); }

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: all 250ms !important;
	transition-delay: 0 !important;
}

.theme-toggle {
	color: var(--text);
	background-color: transparent;
	padding: 4px;
	cursor: pointer;
	margin: 1em;
	position: fixed;
	right: 0;
	bottom: 0;
	border: 2px transparent solid;
	outline: none;
}

.theme-toggle:hover {
	color: var(--links);
	outline: none;
}
.theme-toggle:focus {
	outline: none;
}
.dashed {
	border-top: 1px var(--text) dashed;
	margin: 0.5em 0;
}
mark {
	padding: 0.4em;
	background-color: var(--highlight);
	font-size: 0.6em;
	letter-spacing: 1px;
}

.post-date {
	color: var(--secondary-text);
	//margin-bottom: 1rem;
	font-size: 0.8em;
	display: flex;
	flex-direction: row;
	.tags {
		flex-grow: 1;
	}
}
.home-date {
	font-family: monospace;
}
.post-list-item a {
	text-decoration: none;
}
.text-bold {
	font-weight: bold;
}
.text-upcase {
	text-transform: uppercase;
}
p code, li code {
	background-color: var(--bg-secondary);
	padding: 0.2rem;
	color: var(--code-text);
	font-weight: bold;
}
.post-title {
	margin-bottom: 0;
}
.project-title {
	margin-bottom: 0.8rem;
}
.credits {
	color: var(--text);
	text-align: center;
}

////////////////////////////////////////////////////////////////////////
//                               MEDIA                                //
////////////////////////////////////////////////////////////////////////

.youtube-video {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


// Fix katex in mobile screens for responsive design
// Don't overflow the wrapper div, overflow the element itself
// Scrollbar appears if the eqn. is too long for the screen
.katex-display {
	// max-width: 100%; // doesn't work unfortunately
	// This one doesn't work in all cases
	max-width: calc(100vw - 4em);
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0.5em 0;
}
